# Ignore all video files
*.mkv
*.mp4
*.avi

# Ignore dataset folders
/dataset/
/LaLiga_Videos/

# Node modules and build outputs
node_modules/
build/
dist/

# Logs and environment files
*.log
.env

# Archives and design files
*.zip
*.psd

# Ignore all Jupyter notebooks & checkpoints
*.ipynb
.ipynb_checkpoints/

# Others
